[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "fast5"]
	path = fast5
	url = https://github.com/mateidavid/fast5.git
[submodule "bwa"]
	path = bwa
	url = https://github.com/lh3/bwa
[submodule "pdqsort"]
	path = pdqsort
	url = https://github.com/orlp/pdqsort
[submodule "read_until_api"]
	path = read_until_api
	url = https://github.com/nanoporetech/read_until_api.git
